@import "pagination";

.fa-plus{
   font-size: 18px;
}

.form-signin.page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.private-label{
    color: brown;
    font-size: 18px;
}

.btn{
    min-width: 70px;
}

.navbar-collapse {
    flex-wrap: wrap;
}

.blog-post-meta{
    font-style: italic;
}

.add-note-btn {
    display: none;
    margin-left: 20px;
}

h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-th-large, .fa-list {
    font-size: 47px;
}

.dropdown-header, .dropdown-toggle {
    background-color: #343a40 !important;
    border-radius: 0px;
}

.avatar-place {
    width: 200px;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.href {
    color: #007bff !important;
    cursor: pointer !important;
}

@media(max-width: 575px) {
    .navbar{
        justify-content: center !important;
    }
}

@media(max-width: 991px) {
    .blog-sidebar{
        order: -1;
    }

    .add-note-btn {
        display: inline-block;
    }

    .hidden {
        display: none;
    }
}
